body {
    background-color:  #ecf0f1;
    font-family: 'Segoe UI';
}
.header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #2c3e50;
    color: White;
    cursor: default;
    font-size: x-large;
    font-family: 'Segoe UI Light'
}
.header p {
    font-size: 40px;
    margin: 20px;
}
.header nav {
    margin: 0px;
    width: 100%;
}
.header nav a {
    transition: all 500ms ease-out;
    margin: 10px;
    text-decoration: none;
    color: White;
    cursor: default;
}
.header nav a:hover {
    color: Black;
}
.sbox{
    float: left;
    display: block; 
    width: 100%;
    text-align: center;
    position: absolute;    
    display: block;
    height: 300px;
    top: 50%;
    left: 0px;
    margin-left: 0px;
    margin-top: -150px;
}
@media only screen and (min-width:400px) and (orientation: landscape) {
    .sbox {
        width: 600px;
        left: 50%;
        margin-left: -300px;
        -moz-box-shadow: 0px 0px 3px #000000;
        -webkit-box-shadow: 0px 0px 3px #000000;
        box-shadow: 0px 0px 3px #000000;
    }
}
.foot {
    background-color: #2c3e50;
    color: White;
    position: absolute;
    width: 100%;
    height: 30px;
    margin-top: -30px;
    top: 100%;
    left: 0px;
}
.foot a {
    transition: all 500ms ease-out;
    margin: 10px;
    text-decoration: none;
    color: White;
    cursor: default;
}
.foot a:hover {
    color: Black;
}
.foot {
	color: grey;	 
}
.modified {
	height: 4em;
	width: 20em;
}
	 
.button {
    margin: 10px;
    padding: 10px;
    color: White;
    background-color: #2c3e50;
    border: 0;
    transition: all 500ms ease-out;
    cursor: default;
    text-decoration: none;
}
.button:hover {
    color: black;
}
.sbox header {
    margin: 0px;
    font-size: 40px;
    width: 100%;
    height: 60px;
    line-height: 50px;
    background-color: #2c3e50;
    color: White;
    text-align: center;
}
.sbox header p {
    margin: 0px;
}
.input { 
    padding:3px; 
    width:90%; 
    font-size:16px; 
    border-width:1px; 
    border-style:solid; 
} 